.contacto-main{ 
    text-align: center;
    background-image: url(../assets/FONDO\ MAIN.jpg);
    background-repeat: no-repeat;
    color: #eaf2f8;

    .centrado{
        display: flex;
        justify-content: center;
        text-align: center;

        .form-sumate{
            width: 550px;
        }

        .form-ta-sumate{
            margin-top: 5%;
        }

        .form-ta-sumatesn{
            margin-top: 5%;
            width: 100%;
            max-width: 100%;
            min-height: 100px; 
            resize: vertical;
            box-sizing: border-box; 
            padding: 10px; 
            font-size: 16px;
            line-height: 1.4;
        }
    }

}

.submit-index{
    margin: 10px 1px 10px 1px;
    background-color:#6c7272;
    color: white;
    border-radius: 50px;
}

.contact-h3{
    margin: 20px auto 5px auto;
    padding-bottom: 1px;
}

.iframe{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    grid-area: iframe;
    
    .clase-video{
        width: 855px;
        height: 430px;
}
}

@media (min-width: 300px) and (max-width: 479px){ 
    .iframe{
        width: 300px;
        padding-left: 30%;
    }

    .form-ta-sumatesn{
        margin-top: 5%;
        width: 20%;
}
}