footer{
    background-color: #7f8787;
    text-align: center;
    grid-area: footer;

    .a{
        text-decoration: none;
        color: turquoise;
        cursor: pointer;
        margin: 10px;
    }
    
    .rs{
        display: flex;
        justify-content: center;
        list-style-type: none;
        align-items: center;
        padding: 5px;
    }
}

