header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
    color: #ffffff;
    background-color: black;
    grid-area: header;
}

.header-1{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.logo{
    display: flex;
    flex: 1;
    text-align: left;
    width: 300px;
    height: 200px;
}

//cambiar hover//
.logo:hover{
    background-color: black;
    border: none;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .nav-link{
    background-color: black;
    color: turquoise;
}


.navbar-2{
    display: flex;
    justify-content: end;
}