.flex{
    display: flex;

    .card{
        justify-content: space-between;
        width: 300px;
        border: solid black;
        border-radius: 3% 3% 3% 3%;
        margin: 15px;
        box-shadow: 14px 14px 34px 11px rgba (0,0,0,0.74);
        -webkit-box-shadow: 14px 14px 34px 11px rgba(0,0,0,0.74);
        -moz-box-shadow: 14px 14px 34px 11px rgba(0,0,0,0.74);
        padding: 20px 20px 20px 20px;
        background-image: $fondo;
    }

    .border-img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-left: 20px;
    }    

}

.respon-sn{
    display: flex;
    flex-direction: column;
}

@media (min-width: 300px) and (max-width: 479px){ 
    .flex{
        flex-direction: column;
        padding-left: 0%;
    }

}

@media (min-width: 480px) and (max-width: 1200px){
    .flex{
        flex-direction: column;
        padding-left: 20%;
    }
}