@import "mixin";
.centrado{

    .form-control{
        @include medias-querys('tablet') {
            display: flex;
            justify-content: center;
            width: 50%;
        }
    
        @include medias-querys('mobile') {
            width: 20%;
    }
    }

    .input-group{
        @include medias-querys('tablet') {
            width: 50%;
            display: flex;
            justify-content: center;
      }
    
        @include medias-querys('mobile') {
            display: flex;
            justify-content: center;
            width: 50%;
    }

    
    .form-ta-sumate{
        @include medias-querys('tablet') {
            display: flex;
            justify-content: center;
        }
    
        @include medias-querys('mobile') {
            display: flex;
            justify-content: center;
            width: 100%;
    }
    }

}
}