@import "mixin";
.centrado{

    width: 100%;
    padding-left: 5%;

    .form-control{
        @include medias-querys('tablet') {
             width: 110%;
         }
    
        @include medias-querys('mobile') {
            width: 100%;
    }
    }

    .input-group{   
        @include medias-querys('tablet') {
            display: flex;
            justify-content: center;
      }
    
        @include medias-querys('mobile') {
            display: flex;
            justify-content: center;
    }

    
    .form-ta-sumate{
        @include medias-querys('tablet') {
            display: flex;
            justify-content: center;
        }
    
        @include medias-querys('mobile') {
            display: flex;
            justify-content: center;
    }
    }

}
}