* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  color: #ffffff;
  background-color: black;
  grid-area: header;
}
.header .logo {
  display: flex;
  flex: 1;
  text-align: left;
  width: 300px;
  height: 200px;
}
.header .logo:hover {
  background-color: black;
  border: none;
}
.header .navbar-nav .nav-link.active, .header .navbar-nav .nav-link.show, .header .nav-link {
  background-color: black;
  color: turquoise;
}
.header .navbar-2 {
  display: flex;
  justify-content: end;
}

a:hover {
  font-weight: 700;
  padding: 1px;
  background-color: #ffffff;
  color: black;
}

footer {
  background-color: #7f8787;
  text-align: center;
  grid-area: footer;
}
footer .a {
  text-decoration: none;
  color: turquoise;
  cursor: pointer;
  margin: 10px;
}
footer .rs {
  display: flex;
  justify-content: center;
  list-style-type: none;
  align-items: center;
  padding: 5px;
}

.flex {
  display: flex;
}
.flex .card {
  justify-content: space-between;
  width: 300px;
  border: solid black;
  border-radius: 3% 3% 3% 3%;
  margin: 15px;
  box-shadow: 14px 14px 34px 11px rgba 0, 0, 0, 0.74;
  -webkit-box-shadow: 14px 14px 34px 11px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 14px 14px 34px 11px rgba(0, 0, 0, 0.74);
  padding: 20px 20px 20px 20px;
  background-image: background-image linear-gradient(to left, #ffffff, #fafafd, #f2f6fb, #eaf2f8, #e1eff4, #d4e3e6, #c7d7d9, #bacbcb, #a6b4b4, #929d9d, #7f8787, #6c7272);
}
.flex .border-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

.respon-sn {
  display: flex;
  flex-direction: column;
}

@media (min-width: 300px) and (max-width: 479px) {
  .flex {
    flex-direction: column;
    padding-left: 0%;
  }
}
@media (min-width: 480px) and (max-width: 1200px) {
  .flex {
    flex-direction: column;
    padding-left: 20%;
  }
}
.titulo-galeria {
  background-color: grey;
}

.grid-container {
  margin: 5px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 250px);
  grid-template-areas: "img-1 img-1 img-2 img-3" "img-1 img-1 img-2 img-3" "img-4 img-5 img-6 img-6" "img-7 img-8 img-8 img-9";
  background-color: black;
}
.grid-container div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-img1 {
  grid-area: img-1;
}

.grid-img2 {
  grid-area: img-2;
}

.grid-img3 {
  grid-area: img-3;
}

.grid-img4 {
  grid-area: img-4;
}

.grid-img5 {
  grid-area: img-5;
}

.grid-img6 {
  grid-area: img-6;
}

.grid-img7 {
  grid-area: img-7;
}

.grid-img8 {
  grid-area: img-8;
}

.grid-img9 {
  grid-area: img-9;
}

.centrado {
  display: flex;
  justify-content: center;
}

@media (min-width: 480px) and (max-width: 1199px) {
  .navbar-toggler {
    background-color: background-image linear-gradient(to left, #ffffff, #fafafd, #f2f6fb, #eaf2f8, #e1eff4, #d4e3e6, #c7d7d9, #bacbcb, #a6b4b4, #929d9d, #7f8787, #6c7272);
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .navbar-toggler {
    background-color: black;
  }
}

@media (min-width: 480px) and (max-width: 1199px) {
  .grid-container {
    grid-template-columns: auto;
    grid-template-areas: "img-1 img-1 img-1" "img-2 img-2 img-2" "img-3 img-3 img-3" "img-5 img-4 img-4" "img-6 img-4 img-4" "img-7 img-7 img-7" "img-8 img-8 img-8" "img-9 img-9 img-9";
    object-fit: cover;
    grid-gap: 5px;
  }
}

@media (min-width: 300px) and (max-width: 479px) {
  .grid-container {
    grid-template-columns: auto;
    grid-template-areas: "img-1 img-1 img-1" "img-2 img-2 img-2" "img-3 img-3 img-3" "img-5 img-4 img-4" "img-6 img-4 img-4" "img-7 img-7 img-7" "img-8 img-8 img-8" "img-9 img-9 img-9";
    object-fit: cover;
    grid-gap: 3px;
  }
}
@media (min-width: 480px) and (max-width: 1199px) {
  .centrado .form-control {
    display: flex;
    justify-content: center;
    width: 50%;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .centrado .form-control {
    width: 20%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 480px) and (max-width: 1199px) {
  .centrado .input-group {
    width: 50%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .centrado .input-group {
    display: flex;
    justify-content: center;
    width: 50%;
  }
}
@media (min-width: 480px) and (max-width: 1199px) {
  .centrado .input-group .form-ta-sumate {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .centrado .input-group .form-ta-sumate {
    display: flex;
    justify-content: center;
    width: 70%;
  }
}

.contacto-main {
  text-align: center;
  background-image: url(../assets/FONDO\ MAIN.jpg);
  background-repeat: no-repeat;
  color: #eaf2f8;
}
.contacto-main .centrado {
  display: flex;
  justify-content: center;
  text-align: center;
}
.contacto-main .centrado .form-sumate {
  width: 550px;
}
.contacto-main .centrado .form-ta-sumate {
  margin-top: 5%;
}
.contacto-main .centrado .form-ta-sumatesn {
  margin-top: 5%;
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  resize: vertical;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  line-height: 1.4;
}

.submit-index {
  margin: 10px 1px 10px 1px;
  background-color: #6c7272;
  color: white;
  border-radius: 50px;
}

.contact-h3 {
  margin: 20px auto 5px auto;
  padding-bottom: 1px;
}

.iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  grid-area: iframe;
}
.iframe .clase-video {
  width: 855px;
  height: 430px;
}

@media (min-width: 300px) and (max-width: 479px) {
  .iframe {
    width: 300px;
    padding-left: 30%;
  }
  .form-ta-sumatesn {
    margin-top: 5%;
    width: 20%;
  }
}
.satisfaccion {
  display: flex;
  justify-content: center;
  margin-top: 4%;
  font-size: 600;
}
.satisfaccion .formbb {
  display: flex;
  text-align: center;
  grid-area: formbb;
}
.satisfaccion .formbb .btn1 {
  border-style: double black;
}

.div-productos {
  display: grid;
  grid-template-rows: repeat(5, 330px);
  grid-template-columns: repeat(1, 250px);
  grid-template-areas: "prod1" "prod2" "prod3" "prod4" "satisfaccion";
  padding-left: 40%;
  padding-bottom: 8%;
}
.div-productos .productos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #eaf2f8;
}
.div-productos .productos .prod-1 {
  grid-area: prod1;
}
.div-productos .productos .prod-2 {
  grid-area: prod2;
}
.div-productos .productos .prod-3 {
  grid-area: prod3;
}
.div-productos .productos .prod-4 {
  grid-area: prod4;
}
.div-productos .productos .form-sumate {
  width: 550px;
}
.div-productos .productos .satisfaccion {
  grid-area: satisfaccion;
}

.card-prod {
  justify-content: space-between;
  width: 300px;
  border: solid black;
  border-radius: 3% 3% 3% 3%;
  margin: 15px;
  box-shadow: 14px 14px 34px 11px rgba 0, 0, 0, 0.74;
  -webkit-box-shadow: 14px 14px 34px 11px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 14px 14px 34px 11px rgba(0, 0, 0, 0.74);
  padding: 20px 20px 20px 20px;
}

@media (min-width: 300px) and (max-width: 479px) {
  header .logo {
    width: 10%;
    height: 10%;
  }
  .div-productos {
    display: flex;
    flex-direction: column;
    width: 30px;
    padding-left: 10%;
  }
  .form-sumate {
    display: flex;
    flex-direction: column;
    width: 250px;
  }
  .card-prod {
    width: 200px;
    height: 250px;
  }
}
@media (min-width: 480px) and (max-width: 1200px) {
  .div-productos {
    display: flex;
    flex-direction: column;
    width: 30px;
    padding: 0% 50% 0% 30%;
  }
  .form-sumate {
    display: flex;
    flex-direction: column;
    width: 250px;
  }
  .card-prod {
    width: 200px;
    height: 250px;
  }
}
h1 {
  font-weight: 700;
  text-decoration: underline;
  padding: 5px 0px 10px 0px;
  text-align: center;
  font-family: "Poppins";
}

h2, h3, h5, h4 {
  font-weight: 200;
  margin: 2px 0px 0px 0px;
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: background-image linear-gradient(to left, #ffffff, #fafafd, #f2f6fb, #eaf2f8, #e1eff4, #d4e3e6, #c7d7d9, #bacbcb, #a6b4b4, #929d9d, #7f8787, #6c7272);
}

p {
  margin: 10px 0px 0px 10px;
  display: inline-block;
  align-items: center;
}

.main {
  background-image: linear-gradient(to left, #ffffff, #fafafd, #f2f6fb, #eaf2f8, #e1eff4, #d4e3e6, #c7d7d9, #bacbcb, #a6b4b4, #929d9d, #7f8787, #6c7272);
}
.main .grid-1 {
  grid-area: grid-1;
}
.main .card {
  justify-content: space-between;
  width: 300px;
  border: solid black;
  border-radius: 3% 3% 3% 3%;
  margin: 15px;
  box-shadow: 14px 14px 34px 11px rgba 0, 0, 0, 0.74;
  -webkit-box-shadow: 14px 14px 34px 11px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 14px 14px 34px 11px rgba(0, 0, 0, 0.74);
  padding: 20px 20px 20px 20px;
  background-image: linear-gradient(to left, #ffffff, #fafafd, #f2f6fb, #eaf2f8, #e1eff4, #d4e3e6, #c7d7d9, #bacbcb, #a6b4b4, #929d9d, #7f8787, #6c7272);
}
.main .card-grid {
  grid-area: card-grid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.main .btn1 {
  border-style: double black;
}
.main .submit-index {
  margin: 10px 1px 10px 1px;
  background-color: #6c7272;
  color: turquoise;
  border-radius: 50px;
}
.main .centrado {
  display: flex;
  justify-content: center;
  text-align: center;
}

.index {
  display: flex;
  text-align: center;
  background-image: url(../assets/FONDO\ MAIN.jpg);
  background-repeat: no-repeat;
  color: #eaf2f8;
  justify-content: space-between;
  width: 100%;
}
.index .datos {
  margin: 5% auto 5% auto;
  font-size: 20px;
  grid-area: datos;
}

.formbb {
  display: flex;
  text-align: center;
  grid-area: formbb;
}
.formbb .ab {
  text-decoration: none;
  color: red;
  cursor: pointer;
}

.iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  grid-area: iframe;
}
.iframe .clase-video {
  width: 855px;
  height: 430px;
}

.h2-grid {
  grid-area: h2-grid;
}

.nos-acompanan {
  display: flex;
  width: auto;
  height: 200px;
  grid-area: nos-acompanan;
}

.nos-acompanan-img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5 ease;
}

.btn-wsp {
  grid-area: btn-wsp;
}

.sticky {
  position: fixed;
  top: 300px;
}

.wsp {
  display: flex;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-left: 10px;
}

section img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
.animacion {
  view-timeline-name: --div;
  view-timeline-axis: block;
  animation-timeline: --div;
  animation-name: show;
  animation-range: entry 15% cover 45%;
  animation-fill-mode: both;
}

@media (min-width: 480px) and (max-width: 1200px) {
  header .logo {
    width: 70%;
    height: 50%;
  }
  .navbar-toggler {
    background-color: white;
  }
  body {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "grid-1" "fondot1" "card-grid" "datos" "form" "iframe" "h2-grid" "nos acompanan";
  }
  .card-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section {
    display: none;
  }
  .iframe {
    margin: 5px;
  }
  .iframe .clase-video {
    width: 400px;
    height: 470px;
  }
  .index {
    flex-direction: column;
  }
  .nos-acompanan img {
    border-radius: 50%;
    object-fit: contain;
  }
  .formbb {
    margin-top: 0%;
  }
  .h2-grid {
    font-size: 1px;
  }
  .wsp {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  header .logo {
    width: 70%;
    height: 50%;
  }
  .navbar-toggler {
    background-color: white;
  }
  body {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "grid-1" "fondot1" "card-grid" "datos" "form" "iframe" "h2-grid" "nos acompanan";
  }
  .iframe .clase-video {
    width: 230px;
    height: 300px;
  }
  .datos {
    display: flex;
    flex-direction: column;
  }
  .nos-acompanan img {
    border-radius: 50%;
    object-fit: contain;
  }
  .wsp {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
